.pokedex{
    width:500px;
    height: 750px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: url("../src/assets/Kalos_Pokedex.jpg") no-repeat;
    background-size: 500px 750px;
    border: 3px solid black;
    border-radius: 40px;
    transform: translateX(10px);
}

.container {
    width: 518px; /* 512 x 384 */
    height: 384px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    border: 20px solid black;
    background: url('../src/assets/Pokedex_Entry.jpg') no-repeat;
    background-size: 518px 384px;
    transform: scale(0.95, 0.9);
}


.image {    /* 170 x 170 */
    width: 170px;
    height: 170px;
    position: relative;
    top: 7%;
    left: 1.5%;
    border: 2px solid white;
    border-radius: 15px;
    user-select: none;
}

.question {
    font-size: 24px;
    font-family: Pokemon-Solid, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: -15%;
    left: 22%;
    color: #000;
    cursor:default;
    user-select: none;
    text-align: center;
}

.answer {
    font-family: Pokemon-Solid, Cambria, Cochin, Georgia, Times, 'Times News Roman', serif;
    font-size: 24px;
    color: #000;
    position: relative;
    left: 17%;
    bottom: 15%;
    cursor:default;
    user-select: none;
    text-align: left;
}

.footprint {
    position: relative;
    top: 14.5%;
    left: 11.25%;
    transform: scale(2.5);
    width: 20px;
    user-select: none;
}

.details {
    display: flex;
    flex-flow: column wrap;
    gap: 22px;
    position: relative;
    left: 33%;
    top: 23%;
    font-family: Pokemon-GB;
    font-size: 14px;
    color: black;
    user-select: none;
}

.entry-description { /* 487 x 89 */
    width: 480px;
    height: 89px;
    position: relative;
    top: 2.5%;
    left: 3.5%;
    color: black;
    font-family: Pokemon-GB;
    font-size: 13px;
    text-align: left;
    line-height: 16px;
    cursor:default;
    user-select: none;
}

.easy {
    border: 5px solid green;
    border-radius: 5px;
}

.medium {
    border: 5px solid yellow;
    border-radius: 5px;
}

.hard {
    border: 5px solid red;
    border-radius: 5px;
}

.flip-card {
    background-color: transparent;
    position: relative;
    top: 11.5%;
    width: 518px;
    height: 352px;
    border: 1px solid transparent;
    perspective: 1000px; /* 3D Effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    bottom: 6.5%;
    right: 3%;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }
  
  /* Do an vertical flip when you move the mouse over the flip box container */
  .flip .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

  }
    
  /* Style the back side */
  .flip-card-back {
    transform: rotateX(180deg); 
  }


.shuffle {
    width: 100px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 0 1px 0 1px;
    position: relative;
    top: 140px;
}
  
.button-container {
    display:flex;
    justify-content: space-evenly;
    gap: 90px;
    position: relative;
    top: 90px;
}

img.master {
    width: 80px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 20px;
    position: relative;
    left: 30%;
    top: 5.5%; 
}

img.master:hover {
    border-color: green;
}

img.previous  {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 1px 0 0px;
    position: relative;
    right: 46%;
    top: 9%; 
}

.previous:hover {
    border-color: green;
}

img.next  {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 -1px 0 0px;
    position: relative;
    left: 19%;
    top: 9%; 
}

.next:hover {
    border-color: green;
}

.form-container {
    display: flex;
    flex-flow: row no-wrap;
    position:relative;
    gap: 5px;
    top: 50px;
    right: 10px;
}

.form-container label {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 4px;
    font-family: Pokemon-Hollow;
}

.form-container input {
    position: relative;
    top: 14%;
    height: 20px;
    border: 4px solid transparent;
    border-radius: 20px;
}
.form-container button {
    border-radius: 10px;
    position: relative;
    top: 14%;
    height: 30px;
    color: red;
    background-color: black;
}

.form-container .correct {
    border: 4px solid green;
}

.form-container .wrong {
    border: 4px solid red;
}









