@font-face {
  font-family: Pokemon-Solid;
  src: url('../src/fonts/Pokemon Solid.ttf');
}

@font-face {
  font-family: Pokemon-Hollow;
  src: url('../src/fonts/Pokemon Hollow.ttf');
}

@font-face {
  font-family: Pokemon-GB;
  src: url('../src/fonts/Pokemon GB.ttf');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: url('../src/assets/SSBU-Pokémon_Stadium_2.webp');
  background-size: cover;
  font-family: Pokemon-GB, Arial, Helvetica, sans-serif;
}

