@font-face {
  font-family: Pokemon-Solid;
  src: url('../src/fonts/Pokemon Solid.ttf');
}

@font-face {
  font-family: Pokemon-Hollow;
  src: url('../src/fonts/Pokemon Hollow.ttf');
}

@font-face {
  font-family: Pokemon-GB;
  src: url('../src/fonts/Pokemon GB.ttf');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: url('https://ssb.wiki.gallery/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1200px-SSBU-Pok%C3%A9mon_Stadium_2.png');
  background-size: cover;
  font-family: Pokemon-Hollow, Arial, Helvetica, sans-serif;
}

